::ng-deep .search-result-header {
	padding: 20px 10px;
	border-bottom: 1px solid #222;
	h3 {
		display: inline;
	}
	p {
		display: inline-block;
		vertical-align: top;
		float: right;
		span {
			display: block;
		}
	}
}
.result-set {
	padding: 10px;
}

@media (max-width: 767px){
	::ng-deep .search-result-header {
		float: left;
		p {
			display: block;
			width: 100%;
			float: left;
			span {
				display: inline-block;
				margin-bottom: 0;
				width: 50%;
				&:nth-child(2) {
					float: right;
				}
			}
		}
	}
}