::ng-deep .search-result-header {
	padding: 20px 10px;
	border-bottom: 1px solid #222;
	h3 {
		display: inline;
	}
	p {
		display: inline-block;
		vertical-align: top;
		float: right;
		span {
			display: block;
		}
	}
}
.result-set {
	padding: 10px;
}