.refine-search {
	display: block;
	margin: 5px;
	padding: 10px;
	border: 1px solid #222;
	.heading {
	    margin-bottom: 15px;
	    font-size: 18px;
	    font-weight: 500;
	}
	::ng-deep nouislider {
		padding: 15px;
		.noUi-horizontal {
		    height: 0px;
		}
		.noUi-horizontal .noUi-handle {
		    width: 10px;
		}
		.noUi-pips-horizontal {
    		padding: 0;
		}
		.noUi-marker-horizontal.noUi-marker {
		    margin-top: -8px;
		    height: 16px;
		}
		.noUi-value {
			top: -60%;
		}
	}
}