.card.row {
	display: block;
	margin: 5px;
	padding: 10px;
	border: 1px solid #222;
	::ng-deep ngb-tabset {
		.nav-tabs .nav-link {
		    border: 1px solid #eee;
	        background-color: #eee;
		    border-top-right-radius: 0;
		    border-top-left-radius: 1.25rem;
		    &.active {
		    	color: #464a4c;
			    background-color: #fff;
			    border-color: #ddd #ddd #fff;
		    }
		}
		.tab-content {
			border: 1px solid #222;
		}
	}
	::ng-deep .search-form {
		padding: 10px;
		input, button {
			width: 100%;
			font-size: 12px;
			padding: 5px;
			margin-bottom: 10px;
			border: 1px solid #222;
			border-radius: 0;
			~ ul {
				width: 100%;
			    float: left;
			    padding: 0;
			    margin-top: -10px;
			    border: 1px solid #eee;
			    li {
					text-decoration: none;
					width: 100%;
					cursor: pointer;
					border-bottom: 1px solid #eee;
					padding: 2px;
					font-size: 12px;
					height: auto;
					float: left;
					display: block;
				}
			}
			~ span {
				display: none;
				font-size: 12px;
				margin-top: -5px;
				margin-bottom: 5px;
			}
			&.ng-touched.ng-invalid, &.error {
				border-color: #de2817;
				~ span {
					display: block;
					width: 100%;
					color: #de2817;
					float: left;
				}
			}
		}
		.form-control[readonly] {
		    background-color: transparent;
		}
		.input-group {
			~ span {
				display: none;
				font-size: 12px;
				margin-top: -5px;
				margin-bottom: 5px;
			}
			&.error ~ span {
				display: block;
				width: 100%;
				color: #de2817;
				float: left;
			}
		} 
		button {
			width: auto;
			background-color: #eee;
			
		}

	}
}