<div class="card row">
	<ngb-tabset>
	  <ngb-tab title="One way">
	    <ng-template ngbTabContent>
	      <app-search-tab [origin]="origin" [destination]="destination" [departureDateControl]="departureDateControl" [passengers]="passengers"></app-search-tab>
	    </ng-template>
	  </ngb-tab>
	  <ngb-tab title="Retun">
	    <ng-template ngbTabContent>
	      <app-search-tab [isReturn]="true" [origin]="origin" [destination]="destination" [departureDateControl]="departureDateControl" [passengers]="passengers"></app-search-tab>
	    </ng-template>
	  </ngb-tab>
  </ngb-tabset>
	
</div>

