<form class="search-form" [formGroup]="searchForm">
	<div class="control-group">
		<input [formControl]="origin.code" class="form-control" formControlName="originCode"
			placeholder="Enter origin city" required>
		<ul *ngIf="origin.suggestions">
			<li *ngFor="let city of origin.suggestions"
				(click)="onselectCity(city, origin)">{{city.code}} -
					{{city.name}}</li>
		</ul>
	</div>
	<div class="control-group">
		<input [formControl]="destination.code" class="form-control" formControlName="destinationCode"
			placeholder="Enter origin city"  required>
		<ul *ngIf="destination.suggestions">
			<li *ngFor="let city of destination.suggestions"
				(click)="onselectCity(city, destination)">{{city.code}} -
					{{city.name}}</li>
		</ul>
	</div>
	<div class="control-group">
		<div class="input-group">
	      <input class="form-control" placeholder="Departure date" formControlName="departureDt" [minDate]="today"
	             name="dp" [(ngModel)]="departureDate" ngbDatepicker #d="ngbDatepicker"  required>
	      <div class="input-group-append">
	        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
	          <img src="assets/ico-down-filled.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
	        </button>
	      </div>
	    </div>
	</div>
	<div class="control-group" *ngIf="isReturn">
		<div class="input-group">
	      <input class="form-control" placeholder="Return date" formControlName="arrivalDt" [minDate]="departureDate"
	             name="dp" [(ngModel)]="arrivalDate" ngbDatepicker #d="ngbDatepicker"  required>
	      <div class="input-group-append">
	        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
	          <img src="assets/ico-down-filled.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
	        </button>
	      </div>
	    </div>
	</div>
	<div class="control-group">
		<button class="btn btn-default" (click)="search()">Search</button>
	</div>
</form>
