.left-panel {
    width: 20%;
    display: inline-block;
    float: left;
    vertical-align: top;
    position: -webkit-sticky;
    position: sticky;
    top: 140px;
}
.right-panel {
	width: 80%;
	display: inline-block;
}